.btn{
	text-align: center;
	padding: 10px 30px;
	min-height: 50px;

	border: 0;
	border-radius: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all var(--t);
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	background: var(--green);
	color: #fff;

	position: relative;

	font-family: var(--main-font);
	font-size: 20px;
	line-height: 1.25;
	font-weight: 900;

	box-shadow: 0 0.1563vw 0.3125vw rgba(#000, .5);

	@media screen and (max-width: 991px){
		min-height: 12.5000vw;
		padding: 0.5vw 6.6667vw 1.3889vw;
		font-size: 9.7222vw;
		font-weight: bold;
	}

	&:hover,
	&:focus{
		outline: none;
		background: darken(#449C3B, 10%);
	}
}