.btn{
	text-align: center;
	padding: 0.5208vw 1.5625vw;
	min-height: 3.4375vw;

	border: 0;
	border-radius: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition: all var(--t);
	cursor: pointer;
	appearance: none;
	white-space: nowrap;

	background: var(--accent);
	color: #fff;

	position: relative;

	font-family: var(--main-font);
	font-size: 2.2917vw;
	line-height: 1.1;
	font-weight: 400;

	@media screen and (max-width: 991px){
		min-height: 12.5000vw;
		padding: 0.5vw 6.6667vw 1.3889vw;
		font-size: 9.7222vw;
		font-weight: bold;
	}

	&:before{
		content: '';
		display: block;
		width: 0;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		transition: all var(--t);
		background: var(--primary);
	}

	.btn-text{
		transition: all var(--t);
		position: relative;
		z-index: 3;
		transform: translateY(0.1em);
	}

	&:hover,
	&:focus{
		outline: none;

		&:before{
			width: 100%;
		}

		.btn-text{
			font-weight: bold;
		}
	}
}