.contact-us-section{
	height: 49.4792vw;
	position: relative;
	padding-top: 10.9896vw;
	padding-bottom: 15.1042vw;

	.section-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		}
	}

	.container{
		position: relative;
		z-index: 3;
	}

	@media screen and (min-width: 992px){
		.section-text{
			width: 36.0938vw;
			height: 23.4375vw;
			background: url(../img/backgrounds/contacts-text-bg.png) no-repeat left center / auto 100%;
			margin-right: calc(var(--side-padding) * -1);
			padding-right: var(--side-padding);
			padding-top: 6.2500vw;
			padding-left: 8.3333vw;

			h1,
			h2{
				font-size: 2.6042vw;
				line-height: 1.2;
				font-weight: bold;
				color: var(--text-color);
			}
		}

		.section-form{
			width: calc(100% - 1.0417vw * 2);
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 2.0833vw;
			z-index: 2;
			background: var(--primary);
			border: 0.1563vw solid #fff;
			padding: 1.8750vw 6.2500vw 1.8750vw 5.2083vw;
			color: #fff;

			&:after{
				content: '';
				display: block;
				width: calc(100% - 0.5208vw * 2);
				height: calc(100% - 0.5208vw * 2);
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border: 1px dashed #fff;
				pointer-events: none;
			}
		}
	}

	@media screen and (max-width: 991px){
		height: auto;
		background: var(--primary);
		color: #fff;
		padding: 13.3333vw 0 27.7778vw;

		.section-bg{
			display: none;
		}

		.section-text{
			text-align: center;
			margin-bottom: 4.4444vw;

			h1,
			h2{
				font-size: 7.7778vw;
				line-height: 1.25;
				max-width: 58.3333vw;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.section-form{
			width: 82.7778vw;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&.thank-you{
		height: 100vh;
		min-height: 40vw;

		.sc-caption{
			.sc-title{
				.line-2{
					background: var(--green);
				}
			}
		}

		.section-caption{
			position: absolute;
			top: 10.4167vw;
			z-index: 5;
			right: 0;
			margin: 0;

			.sc-title{
				.line-1{
					width: 28.0208vw;
					text-align: center;
					padding-right: 5.7292vw;
					padding-left: 0;
				}

				.line-2{
					width: 43.2292vw;
					padding-right: 7.2917vw;
					padding-left: 2.0833vw;
				}
			}
		}

		@media screen and (min-width: 992px){
			padding-top: 18.3854vw;

			.section-text{
				width: 36.1458vw;
				padding-right: 13.4500vw;
				padding-left: 6.8750vw;
				margin-right: -15.4vw;
			}
		}
	}
}

.contacts-form{
	@media screen and (min-width: 992px){
		.form-inner{
			display: grid;
			grid-template-columns: 1fr 20.7292vw min-content;
			grid-gap: 0.8333vw;
			align-items: center;
		}

		.form-fields{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.7813vw;
		}
	}

	@media screen and (max-width: 991px){
		.form-fields{
			width: 72.2222vw;
			margin-left: auto;
			margin-right: auto;
			display: grid;
			grid-gap: 6.9444vw;
			margin-bottom: 9.4444vw;
		}

		.form-agreement{
			margin-top: 5.5556vw;
		}
	}

	.btn{
		width: 100%;
	}
}

.mobile-thank-you-section{
	position: relative;

	.section-top{
		position: relative;
		height: 88.3333vw;

		.section-bg{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;

			svg{
				width: 100%;
				height: 100%;
			}

			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 88.6111vw;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 319'%3E%3Cpath d='M360 0H0v316.7c1.05-.74 2.33.29 3.5.41 1.21-1.18 2.23-4.11 4.06-.14a4.7 4.7 0 0 0 4.1-.17c1.53 1.4 2.3-3.66 4.1-.2 1.88 4.29 2.76.13 4.08-.22 1.34-.3 2.93 1.65 4.06-.26 1.34.32 2.74.22 4.02-.3 1.33-.03 2.43-1.95 3.94-.32 1.1-1.83 2.53-.67 3.85-.37 1.25-.27 2.78 2 3.75-.4 1.2-.33 2.35-.98 3.62-.44.99-1.78 2.17-1.72 3.47-.49 1.05-.82 2.37.84 3.3-.54 1.59 4.17 1.74-3.5 3.12-.58a6.1 6.1 0 0 1 2.91-.63c.92-.29 1.57-2.66 2.69-.68.94.52 1.68-.38 2.44-.73.52-1.85 1.46-.25 2.17-.7.52-2.07 1.71 1.38 2.26-.68 1.51 6.02 1.56-.46 2.36-.66.4-3.62 1.64-.1 2.43-.66 1.24 3.28 1.17-4.6 2.52-.65.82-.37 1.7-.58 2.59-.64 1.21 2.63 2.08 2.22 2.66-.63.84-.72 1.56-2.64 2.74-.62.8-.8 1.3-4.26 2.56-1.24-.26-1.14 2.12 1.13 3.1.02.99-.08.76-3.7 1.92-2.42.72-2.47 2.05.23 2.98-.6.9-1.1 1.98-.66 3.03-.58 1.35 2.56 1.77-2.76 3.08-.58.7-3.06 1.94-1.58 3.13-.59.67-3.37 1.9-3.06 3.3-.31.55-4.55 1.04-3 2.2-2.4 1.53 3.6 2.42 1.83 3.24-.58 1.4 2.53 1.84-3.19 3.27-.57 1.03-.75 2.53 2.5 3.3-.58.9-1.84 2.18-.57 3.31-.57a2.28 2.28 0 0 1 3.34-.57c.8-2.79 2.23-.4 3.35-.58 1.32 1.47 2.18-.88 3.37-.58 1.61 3.98 2.06-1.9 3.37-.58.85-2.5 2.27-.24 3.38-.58.89-2.24 2.43 1.07 3.38-.6 1.04-.95 2.03-2.35 3.38-.6a4.83 4.83 0 0 1 3.38-.6c.89-2.16 2.23-.5 3.36-.6 1.65 4.26 2.84 4.6 3.36-.62 1.27 1.11 2.05-1.85 3.33-.62 1.25 1 2-2.2 3.32-.63 1.1-.3 2.43 1.5 3.3-.63.97-1.15 1.96-2.22 3.26-.65.87-2.03 2.35 1.15 3.24-.66 1.7 5.06 2.66 1.12 3.63.11 1.48-1.06 2.78-.57 4.2-1.7 1.44-.92 2.9-1.55 4.49-.77 1.69 1.64 3.1 1.18 4.33-.62 1.45 0 2.73-1.17 4.2-.48 1.56 1.4 2.75 0 4.05-.35 1.28-.26 2.6-.34 3.9-.23 1.36.6 2.42-1.09 3.77-.1 1.1-1.24 2.67 1.86 3.63.01 1.3 1.03 2.35.01 3.5.12.59-4.68 3.83.89 5.24 3.6 1.24 1.34 2.32 1.49 3.22.31 1.13.74 2.34 2.34 3.1.4 1.22 1.9 2.08.98 2.97.48 1.2 2.08 1.87-.07 2.84.55.61-2.5 2 1.74 2.72.61.46-3.37 1.47-1.97 2.6.68 1.01 1.68 1.64.2 2.48.73 1.01 2.05 1.74 1.83 2.35.78 1.32 4.98 1.15-2.52 2.24.82.72.23 1.81 3.75 2.13.85.88 1.9 1.47 1.5 2.01.88 1.16 4.59.5-6 1.9.9.61.27 1.69 4.6 1.8.92.28-2.14 1.54 4.07 1.68.93.55.26 1.08.57 1.58.92.6.07 1.36 1.13 2.01 1 .9 2 1.15-1.85 2.19.74.46-2.3 1.37-1.16 2.36.48 1.26 3.9 1.22-3.45 2.51.24 1.12 2.2 2.05 2.56 2.66.03.33-4.9 1.96.94 2.78-.15 1 .37 1.7-2.04 2.9-.32.76-2.09 1.9-1.01 3-.46 1.04.03 2.33 2 3.1-.58 1.08.11 2.01-1.16 3.16-.69 1.05-.41 2.29.7 3.23-.75 1-.98 1.84-3.41 3.27-.82 1.4 2.17 2.32.37 3.32-.84 1.34 1.67 1.9-3.24 3.33-.85 1.02-1.08 2.03-2.24 3.34-.84 1.13-.21 2.35.41 3.34-.81 1.06-.76 2.1-1.52 3.32-.75 1.1-.27 1.96-2.53 3.3-.67 1.31 1.74 2.34 1.1 3.24-.56.85-2.02 2.14-.25 3.18-.45 1.1 2.02 1.88.98 2.68-.25 1.34 3.28 1.8-1.27 2.98-.15 1.03-.06 2.12-.06 3.24-.06 1.49 3.1 1.99-2.43 3.46.01 1.36 1.42 2.41.03 3.66.09 1.56 2.62 2.18-2.77 3.82.15 1.3.19 2.42-1.47 3.93.22 1.21-.95 3.23 4.84 4.03.26 1.61 2.25 2.46-2.03 4.08.31 1.74 3.23 2.62-.75 4.1.35 1.22-1.15 2.77.54 4.1.37 1.2-1.23 2.61-.45 4.03.4 1.28-.36 2.38-2 3.96.42 1.02 1.5 1.76.65 2.55.27V0ZM83.54 304.8' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				left: 0;
				bottom: -4.1667vw;
				z-index: -2;
			}
		}

		.section-caption{
			position: relative;
			z-index: 5;
			position: absolute;
			right: 0;
			width: 100%;
			top: 22.2222vw;
			margin: 0;

			.sc-title{
				.line-1{
					width: 83.3333vw;
				}

				.line-2{
					width: 83.3333vw;
					background: var(--green);
				}
			}
		}
	}

	.section-bottom{
		text-align: center;
		margin-top: 13.8889vw;
		font-size: 7.7778vw;
		line-height: 1.25;
		color: var(--text-color);
		font-weight: 900;
		max-width: 50.0000vw;
		margin-left: auto;
		margin-right: auto;
	}
}