.farmers-section{
	position: relative;
	padding: 2.0833vw 0;

	.section-caption{
		position: absolute;
		right: var(--side-padding);
		top: 11.4583vw;
		z-index: 5;

		.sc-title{
			.line-1{
				width: 21.6667vw;
				padding-right: calc(var(--side-padding) - 2.4479vw);
			}

			.line-2{
				width: 28.0208vw;
				padding-right: calc(var(--side-padding) - 1.9271vw);
			}
		}
	}
}

.videos-component{
	display: grid;
	grid-template-columns: 6.3542vw calc(100% - 6.3542vw - 2.9688vw);
	grid-gap: 2.9688vw;
	align-items: end;

	.previews-slider{
		margin: -0.7813vw -1.6667vw -0.7813vw 0;
		height: calc(6.3542vw * 3 + 0.7813vw * 3 * 2);

		.slide{
			padding: 0.7813vw 1.6667vw 0.7813vw 0;
		}
	}

	.big-slider{
		width: calc(100% + 4.4271vw);
		margin-left: -4.4271vw;
	}
}

.preview-card{
	position: relative;
	cursor: pointer;
	
	&:before{
		content: '';
		display: block;
		padding-top: 100%;
	}
	
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		object-fit: cover;
		object-position: center center;
	}

	.card-btn{
		display: block;
		width: 3.3333vw;
		height: 3.3333vw;
		border-radius: 50%;
		background: rgba(#fff, .4);
		backdrop-filter: blur(4px);
		transition: all var(--t);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -1.6667vw;
		display: flex;
		align-items: center;
		justify-content: center;

		&:after{
			content: '';
			display: block;
			width: 1.4583vw;
			height: 1.4063vw;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 57'%3E%3Cpath d='M54 28.5 25 57V0l29 28.5Z' fill='%23449C3B'/%3E%3Cpath d='M42 28.5 12 57V0l30 28.5Z' fill='%23FF8625'/%3E%3Cpath d='M30 28.5 0 57V0l30 28.5Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			transform: translateX(10%);
			z-index: 3;
		}
	}

	&:hover,
	&:focus{
		.card-btn{
			background: var(--accent);
		}
	}

	.slick-current &{
		.card-btn{
			background: var(--accent);
		}
	}
}

.video-block{
	position: relative;

	.block-preview{
		position: relative;
		transition: all var(--t);
		
		&:before{
			content: '';
			display: block;
			padding-top: 56.25%;
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
		}
	}

	.play-btn{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 6.6146vw;
		height: 6.6146vw;
		border-radius: 50%;
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: rgba(#fff, .4);
			backdrop-filter: blur(4px);
			transition: all var(--t);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:after{
			content: '';
			display: block;
			width: 2.8125vw;
			height: 2.9688vw;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 57'%3E%3Cpath d='M54 28.5 25 57V0l29 28.5Z' fill='%23449C3B'/%3E%3Cpath d='M42 28.5 12 57V0l30 28.5Z' fill='%23FF8625'/%3E%3Cpath d='M30 28.5 0 57V0l30 28.5Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			transform: translateX(10%);
			z-index: 3;
		}

		&:hover,
		&:focus{
			&:before{
				background: var(--accent);
			}
		}
	}

	.block-video-container{
		width: 100%;
		// height: calc(100% - 3.3854vw);
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: all var(--t);

		.video-iframe,
		iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.close-btn{
		position: absolute;
		right: 0;
		top: 0;
		width: 2.2917vw;
		height: 2.2917vw;
		// border-radius: 50%;
		transition: all var(--t);
		appearance: none;
		background: transparent;
		border: 0;
		cursor: pointer;
		z-index: 15;
		opacity: 0;
		visibility: hidden;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 1.0417vw;
			height: 0.1042vw;
			background: #fff;
			position: absolute;
			left: calc(50% - 1.0417vw / 2);
			top: calc(50% - 0.1042vw / 2);
			transition: all var(--t);
			border-radius: 1px;
		}

		&:before{
			transform: rotate(-45deg);
		}

		&:after{
			transform: rotate(45deg);
		}

		&:hover{
			&:before,
			&:after{
				background: var(--primary);
			}
		}
	}

	&.playing{
		.block-preview,
		.block-title,
		.play-btn{
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}

		.close-btn{
			opacity: 1;
			visibility: visible;
		}

		.block-video-container{
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
}