.first-screen-section{
	position: relative;

	.section-inner{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.section-image{
		width: 67.9688vw;
		height: 56.4583vw;
		margin-left: calc(var(--side-padding) * -1);
		position: relative;
		z-index: 2;

		&:after{
			content: '';
			display: block;
			width: 92.7604vw;
			height: 58.8021vw;
			position: absolute;
			right: -1.7188vw;
			bottom: -2.1875vw;
			z-index: -1;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1761 1129'%3E%3Cpath d='M0 0h1748.53a4.47 4.47 0 0 0 1.23 5.18c4.22 5.03-17.09 7.07.64 13.74 5.14 5.2-5.35 8.55.6 13.87 2.9 4.95-4.54 8.69.57 13.92-7.29 3.77-1.49 9.1.53 13.97 7.45 5.54-2.29 9.04.5 14.03-8.22 3.7 1.17 9.48.41 14.08 2.51 4.96 4.42 9.87.4 14.07 9.69 5.82-2.01 9.1.35 14.07 8.51 5.67 8.79 10.4.31 14.07 8.34 5.64 1.84 9.53.25 14.02-1.62 4.45 6.48 10.07.2 13.98-.35 4.6-3.38 8.89.12 13.92-2.03 4.4-8.39 8.24.1 13.85 9.3 5.71 7.15 10.04.01 13.77 5.65 5.25-1.55 8.95-.04 13.66-12.1 3.08 4.79 9.62-.11 13.53 1.01 4.61 10 10.17-.17 13.4-17.22 2.41-3.8 8.43-.26 13.25-7.37 5.16 4.62 12.56-.9 17.83 6.09 6.63 6.24 12.49-1.94 17.3-11.3 4.45 4.58 12.05-2.89 16.82 5.74 6.33-18.58 9.02-3.75 16.32-22.51 2.85-7.04 10.14-4.54 15.84 7.16 6.24-12.77 9.2-5.27 15.34-9.69 4.1 13.92 12.1-5.92 14.85-6.01 4.41-5.48 9.52-6.49 14.38 4.29 5.5-3.46 9.48-6.97 13.9.42 4.88-7.15 8.76-7.41 13.4-2.98 4.35-4.64 8.78-7.75 12.95-3.19 4.16-8.56 8.01-8.04 12.46 4.28 4.92 11.7 10.1-8.2 12.02 8.09 5.2-3.28 8.02-8.36 11.52 1.88 4.31-5.7 7.44-8.4 11.05-2.89 3.6-16.65 5.83-8.36 10.6.94 3.89-13.79 5.85-8.26 10.12-12.65 2.14-14.79 5.43-8.1 9.69 2.65 3.76-11.95 5.41-7.85 9.2 5.76 3.99-14.22 4.84-7.5 8.76-4.85 2.57 3.76 6.64-7.12 8.31-.63 2.9-17.92 3.73-6.66 7.86-4.97 2.21-7.66 4.6-6.09 7.41 2.46 2.91-.98 5.05-5.47 6.96-6.1 1.74-12.6 3.33-4.77 6.53-5 1.68-8.25 3.49-4 6.08 6.17 2.83 10.23 5.31-3.15 5.64-3.24 3.03-8.42 5.87-3.99 9.85-6.04 2.73 15.88 8.78-2.46 10.1-3.83 3.03 16.6 8.96-1.09 10.39-6.99 2.7 23.63 9.87.13 10.66-9.48 2.44 1.59 7.35 1.14 10.91-9.4 2.52-15.42 5.44 2 11.2 6.21 4.4-1.3 7.24 2.68 11.43-13.33 2.17 4.36 9.1-5.79 11.7 2.34 4.1 4.27 8.18 3.55 11.97 4.08 4.37 1.08 8.65-2.3 12.2-.27 3.93 9.64 9.1 3.71 12.46-2.27 3.77 14.15 9.8 3.56 12.68-.2 4.35.2 8.7 1.18 12.93 3.51 4.65 9.15 9.6 2.68 13.15 2.22 4.6-16.16 6.8 2.01 13.4.34 4.48 1.37 9.1 1.13 13.62 10.77 5.83 2.54 9.47.13 13.83-6.65 3.88 2.65 9.72-1.1 14.08-7.97 2.5 5.98 7.81-1.83 10.74-10.35 2.64-9.69 6.75-2.89 11.8-4.27 3.7 1.26 8.74-3.88 12.68 10.55 5.78-10.79 7.57-1.75 13.44-6.97 3.99 3.17 10.12-5.51 14.1-1.5 4.86-.89 10.07-6.19 14.64-3.74 4.78-9.98 9.91-11.81 15.03 1.85 5.56-.65 9.84-.25 15.33-3.48 5.02.32 13.94-7.68 18.45-7.24 4.63-5.76 7.53-9.93 12.5-10.54 4.22 20.77 12.57-1.16 15.4 6.6 3.33 5.21 5.7 1.86 7.83-.52.37-1.13.7-1.75 1.04-3.69 2-8.26 3.9-8.34 6.32-2.88 4.99-8.46 9.01-3.25 14.82a16.17 16.17 0 0 0-1.56 4.03c-.85 3.17-1.34 6.33-4.81 9.1-.55.46-1.14.88-1.76 1.23 2.49 3.1 1.67 5.8-.65 8.26-1.31-.16-3.25-1.88-5.98-5.68-4.86-2.7-1.81 15.12-8.8 7.32-2.39 4.05-8.98-2.45-9.38 7.3-4.23-.15-7.12-1.82-7.97 7.27-6.51-5.54-7.9 2.46-10.61 7.22-5.56-2.54-5.92 8.6-7.94 15.74.03 12.37-.85 22.73-11.9 7.08-3.98 2.53-9.74.81-12.61 6.97-7.04-4.84-6.92 9.24-13.27 6.81-3.08 6.09-10.2 2.01-14.02 6.71-1.05.5-2.08 1.03-3.1 1.62a11.03 11.03 0 0 1-1.8-2.5c-5.09-.81-10.1-2.92-15.07-.18-4.88-6.69-9.73-5.93-14.5-.4-4.7-2.81-9.36 4.46-13.82-.68-4.6 17.47-8.74-13.31-13.07-.93a25.69 25.69 0 0 0-12.26-1.22c-3.93-.76-7.67-9.99-11.37-1.55-3.64 2.54-7.07-.78-10.35-1.84-2.97-7.2-6.11-.36-9.24-1.82-3.09-8.13-6.41 6.32-9.62-1.73-3.47 24.87-6.59-1.17-9.97-1.62-3.27-14.39-6.82.33-10.31-1.55-3.61 13.76-6.92-17.95-10.64-1.48-3.58-1.62-7.26-1.1-10.96-1.41-3.76 11.12-7.52 9.85-11.22-1.34-3.8-2.52-7.59-9.92-11.55-1.26-3.87-3.03-7.69-18.3-11.78-1.22-4.07 11.45-8.02 2.41-12.05-1.15-4.08.12-8.12-6.78-12.3-1.11-4.07-9.61-8.33 1.84-12.53-1.05-4.17-4.03-8.45-1.78-12.72-1.01-4.35 10.92-8.52-10.3-12.93-.95-4.24-11.96-8.67-5.49-13.11-.96-4.3-13.28-8.73-12.55-13.28-.9-4.31-18.05-8.9-3.78-13.43-.88-4.61 15.22-9.02-.7-13.5-10.02-4.61 10.8-9.03-11.99-13.69-.82-4.58-2.56-9.26 11.2-13.8-.83-4.58-7-9.24-1.31-13.91-.83-4.6-4.21-9.27-4.7-13.97-.81-4.59-10.82-9.35-.64-14.04-.81-4.75 6.49-9.38-2.58-14.1-.81-4.84 16.72-9.37-6.77-14.15-.84-4.64-9.66-9.44.06-14.16-.83-4.65-8.61-9.49 5.41-14.17-.85-4.68-3.37-9.32-15.89-14.1-8.2-4.7-2.6-9.42-1.72-14.14-.9-4.65-8.33-9.42-2.82-14.1-2.75-4.85 17.84-9.56 21.62-14.08.86-4.71 5.02-9.3-6.57-14.01-1-4.68 4.56-9.23-7.98-13.93-1.04-4.61-.75-9.26 7.07-13.81-1.1-4.56-4.17-9.12-8.04-13.73-1.15-4.5-7.73-9.13 5.71-13.6-1.2-3.75 16.94-9.91 1.66-13.47-1.26-6.57-3.6-13.12 2.3-19.47-1.61-6.35-3.05-12.62-4.92-18.8-1.07-6.2 7.36-12.24 6.1-18.12-.57-5.92.65-11.77 3.83-17.5 7.25-5.76 6.38-11.33 1.28-16.8.42-5.5-1.12-10.88.47-16.17.87-5.3 3.03-10.43-3.3-15.54 1.27-5.02-4.51-10.1 8.67-14.9 1.67-4.92 4.71-9.66 1.06-14.32 2.01-4.53-18.52-9.15-9.15-13.7 2.4-4.52 5.94-8.95 16.18-13.2 11.85-4.28 3.47-8.53 10.44-12.55 2.97-4.14 8.17-8.1 4.86-11.98 3.25-3.97 8.94-7.71.54-11.43 3.48-3.64-9.75-7.39 7.93-10.9 3.7-3.42-13.36-6.9-7.27-10.34 3.9-3.43 7.18-6.66 1.5-9.87 4.04-3.22 8.68-6.33 8.13-9.32 4.19-3.17 20.62-5.88-9.63-8.84 4.32-2.85 1.22-5.73 15.9-8.34 4.37-2.76 8.06-5.36 6.71-7.87 4.45-2.67 18.95-4.81-23.94-7.41 4.48-2.39 1.34-4.82 19.26-6.95 4.5-2.16-8.47-4.52 17.04-6.5 4.45-2.1.99-4.14 3.1-6.09 4.43-2.42.56-5.06 5.15-7.79 4.96-2.79 8.39-5.57-6.96-8.68 3.92-2.95-9.01-6.13-4.03-9.47 2.98-3.38 16.28-6.58-13.31-10.22 2.11-3.6 9.33-7.24 11.19-10.9 1.33-3.59-19.58-7.62 4.63-11.51.62-3.97 1.94-7.93-7.41-12.07.02-4.06-8.06-8.3-3.23-12.56-.5-4.26.58-8.65 9.09-12.98-.95-4.4.93-8.8-3.76-13.31-1.34-4.5-1.2-9.09 3.83-13.61-1.59-4.58-3.51-9.12-12.87-13.85-1.79-4.72 9.32-9.35 2.48-14-1.91-4.75 7.33-9.3-12.19-14.1-1.94-4.68-3.89-9.36-8.08-14.13-1.89-4.7-.34-9.42 2.73-14.07-1.74-4.69-2.56-9.35-5.16-14-1.53-4.63-.59-9.18-9.28-13.82-1.2-4.64 7.56-9.16 5.45-13.6-.83-4.43-7.71-8.93-.01-13.3-.37-3.55 8.63-7.25 4.78-11.13.21-4.01 13.76-8-4.31-12.3.73-4.28.22-8.75.69-13.36 1.17-4.69 13.15-9.27-8.84-14.22 1.62-4.92 6.32-9.88 1.23-15 2-5.17 11.24-10.22-10.17-15.61 2.35-5.3 1.31-10.6-4.83-16.09 2.61-5.4-3.26-11.04 20.91-16.43 2.88-5.58 9.74-11-7.07-16.63 3.06-5.68 13.76-11.12-1.84-16.72 3.25-5.51-4.08-11.12 3.4-16.62 3.34-5.48-4.42-10.98-.66-16.42 3.41-5.4-.87-10.7-6.98-16.06 3.45-5.35 9.77-10.45-2.25-15.56 3.43-5.15 5.14-10.01-10.74-14.96 3.35-4.85-1.14-9.63 4.07-14.18 3.25-4.61 4.46-9-1.16-13.3 3.1-4.2-3.97-8.25-8.95-12.22 2.91-3.88-1.06-7.62 6.61-11.06 2.66-3.46 2.38-6.66-5.65-9.71 2.36-2.73-4.2-5.37 8.78-7.66 3.88V0Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat right bottom / auto 100%;
		}
	}

	.section-content{
		padding-top: 10.4167vw;
		margin-left: -10.4167vw;
		position: relative;
		z-index: 5;
	}

	.section-text{
		@include p;
		letter-spacing: -0.01em;
		margin-bottom: 3.9063vw;
	}
}

.scroll-down-link{
	display: flex;
	align-items: center;
	@include p;
	letter-spacing: -0.01em;
	color: var(--text-color);

	&:hover,
	&:focus{
		color: var(--primary);
	}

	&:after{
		content: '';
		display: block;
		width: 1.7188vw;
		height: 1.6146vw;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33 31'%3E%3Cpath d='M16.5 31 0 14h33L16.5 31Z' fill='%23449C3B'/%3E%3Cpath d='M16.5 24 0 7h33L16.5 24Z' fill='%23FF8625'/%3E%3Cpath d='M16.5 17 0 0h33L16.5 17Z' fill='%23A2CF44'/%3E%3C/svg%3E") no-repeat center center / contain;
		margin-right: 0.6250vw;
		flex: none;
	}
}